@charset "UTF-8";
/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
       ========================================================================== */
/**
     * 1. Correct the line height in all browsers.
     * 2. Prevent adjustments of font size after orientation changes in
     *    IE on Windows Phone and in iOS.
     */
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
       ========================================================================== */
/**
     * Remove the margin in all browsers (opinionated).
     */
body {
  margin: 0;
}

/**
     * Add the correct display in IE 9-.
     */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
     * Correct the font size and margin on `h1` elements within `section` and
     * `article` contexts in Chrome, Firefox, and Safari.
     */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
figcaption,
figure {
  display: block;
}

/**
     * Add the correct margin in IE 8.
     */
figure {
  margin: 1em 40px;
}

/**
     * 1. Add the correct box sizing in Firefox.
     * 2. Show the overflow in Edge and IE.
     */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
     * Add the correct display in IE.
     */
main {
  display: block;
}

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Links
       ========================================================================== */
/**
     * 1. Remove the gray background on active links in IE 10.
     * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
     */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/* Text-level semantics
       ========================================================================== */
/**
     * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
     * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
     */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
     * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
     */
b,
strong {
  font-weight: inherit;
}

/**
     * Add the correct font weight in Chrome, Edge, and Safari.
     */
b,
strong {
  font-weight: bolder;
}

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
     * Add the correct font style in Android 4.3-.
     */
dfn {
  font-style: italic;
}

/**
     * Add the correct background and color in IE 9-.
     */
mark {
  background-color: #ff0;
  color: #000;
}

/**
     * Add the correct font size in all browsers.
     */
small {
  font-size: 80%;
}

/**
     * Prevent `sub` and `sup` elements from affecting the line height in
     * all browsers.
     */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
audio,
video {
  display: inline-block;
}

/**
     * Add the correct display in iOS 4-7.
     */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
     * Remove the border on images inside links in IE 10-.
     */
img {
  border-style: none;
}

/**
     * Hide the overflow in IE.
     */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
       ========================================================================== */
/**
     * 1. Change the font styles in all browsers (opinionated).
     * 2. Remove the margin in Firefox and Safari.
     */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
     * Show the overflow in IE.
     */
button {
  overflow: visible;
}

/**
     * Remove the inheritance of text transform in Edge, Firefox, and IE.
     * 1. Remove the inheritance of text transform in Firefox.
     */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
     * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
     *    controls in Android 4.
     * 2. Correct the inability to style clickable types in iOS and Safari.
     */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  /**
       * Remove the inner border and padding in Firefox.
       */
  /**
       * Restore the focus styles unset by the previous rule.
       */
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
     * Show the overflow in Edge.
     */
input {
  overflow: visible;
}

/**
     * 1. Add the correct box sizing in IE 10-.
     * 2. Remove the padding in IE 10-.
     */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
     * Correct the cursor style of increment and decrement buttons in Chrome.
     */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
     * 1. Correct the odd appearance in Chrome and Safari.
     * 2. Correct the outline style in Safari.
     */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
       * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
       */
}

[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
     * 1. Correct the inability to style clickable types in iOS and Safari.
     * 2. Change font properties to `inherit` in Safari.
     */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
     * Correct the padding in Firefox.
     */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
     * 1. Correct the text wrapping in Edge and IE.
     * 2. Correct the color inheritance from `fieldset` elements in IE.
     * 3. Remove the padding so developers are not caught out when they zero out
     *    `fieldset` elements in all browsers.
     */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */
}

/**
     * 1. Add the correct display in IE 9-.
     * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
     */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
     * Remove the default vertical scrollbar in IE.
     */
textarea {
  overflow: auto;
}

/* Interactive
       ========================================================================== */
/*
     * Add the correct display in Edge, IE, and Firefox.
     */
details {
  display: block;
}

/*
     * Add the correct display in all browsers.
     */
summary {
  display: list-item;
}

/*
     * Add the correct display in IE 9-.
     */
menu {
  display: block;
}

/* Scripting
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
canvas {
  display: inline-block;
}

/**
     * Add the correct display in IE.
     */
template {
  display: none;
}

/* Hidden
       ========================================================================== */
/**
     * Add the correct display in IE 10-.
     */
[hidden] {
  display: none;
}

/* ul */
/* xl */
/* lg */
/* md */
/* sm */
/* xs */
/* xx */
/*
 * Наш код пишем здесь
 */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  letter-spacing: .1em;
  color: #637588;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
  color: #fff;
}

.header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  padding: 100px 0;
  background: url(../img/img-header.png);
  background-position: 50% 50%;
  background-size: cover;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: .8;
  background-color: #2d3651;
}

.header-content-container, .header-menu-container {
  max-width: 1340px;
  height: 100%;
  margin: 0 auto;
  padding: 3px 20px 0 20px;
}

.header-menu {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
}

.header-menu-container {
  display: grid;
  grid-template-columns: auto 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-menu-logo {
  font-size: 24px;
  line-height: .83px;
  text-align: center;
  letter-spacing: 5.52px;
  color: #fff;
}

.header-menu-logo-accent {
  width: 80px;
  height: 60px;
  margin-right: 3px;
  padding: 14px 1px 13px 5px;
  text-align: center;
  border: solid 3px #d53d27;
}

.header-menu-link {
  position: relative;
  display: grid;
  letter-spacing: .1em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: end;
}

.header-menu-link-btn {
  position: relative;
  width: 30px;
  height: 22.5px;
  margin: 24px 0;
  cursor: pointer;
  -webkit-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}

.header-menu-link-btn-row {
  position: absolute;
  left: 0;
  display: block;
  width: 100%;
  height: 3px;
  -webkit-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1;
  border-radius: 9px;
  background: #fff;
}

.header-menu-link-btn-row:nth-child(1) {
  top: 0;
}

.header-menu-link-btn-row:nth-child(2) {
  top: 9px;
}

.header-menu-link-btn-row:nth-child(3) {
  top: 18px;
}

.header-menu-link-btn.open span:nth-child(1) {
  top: 9px;
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
}

.header-menu-link-btn.open span:nth-child(2) {
  left: -30px;
  opacity: 0;
}

.header-menu-link-btn.open span:nth-child(3) {
  top: 9px;
  -webkit-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.header-menu-link-list {
  font-size: 18px;
  line-height: 1.11;
  margin-right: -20px;
  letter-spacing: 1.53px;
}

.header-menu-item {
  display: inline-block;
  padding: 20px;
  -webkit-transition: color .5s;
  -o-transition: color .5s;
  transition: color .5s;
}

.header-menu-item:hover {
  color: #d66926;
}

.header-content {
  z-index: 1;
  width: 100%;
  text-align: center;
}

.header-content-title {
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  line-height: 1.2em;
  letter-spacing: .08em;
  color: #fff;
}

.header-content-buttons {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-content-btn {
  line-height: 1.33;
  -webkit-transition: background-color .5s;
  -o-transition: background-color .5s;
  transition: background-color .5s;
  text-align: center;
  border: solid 2px #fff;
  background-color: rgba(255, 255, 255, 0.1);
}

.header-content-btn:hover {
  background-color: #d66926;
}

.skills-container {
  display: grid;
  padding-bottom: 20px;
}

.skills-block {
  position: relative;
  overflow: hidden;
  min-height: calc(33.3333vh - 13.3333px);
  padding: 20px;
}

.skills-block-overlay {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition: opacity .6s;
  -o-transition: opacity .6s;
  transition: opacity .6s;
  opacity: .8;
  background-color: #2d3651;
}

.skills-block-title {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
}

.skills-block-link {
  font-size: 1.25rem;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: color .5s;
  -o-transition: color .5s;
  transition: color .5s;
  letter-spacing: .1em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills-block-link:hover {
  color: #d66926;
}

.skills-block-image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition: -webkit-transform .6s;
  transition: -webkit-transform .6s;
  -o-transition: transform .6s;
  transition: transform .6s;
  transition: transform .6s, -webkit-transform .6s;
  background-position: 50% 50%;
  background-size: cover;
}

.skills-block:nth-child(1) {
  grid-area: a1;
}

.skills-block:nth-child(2) {
  grid-area: a2;
}

.skills-block:nth-child(3) {
  grid-area: a3;
}

.skills-block:nth-child(4) {
  grid-area: a4;
}

.skills-block:nth-child(5) {
  grid-area: a5;
}

.skills-block:nth-child(6) {
  grid-area: a6;
}

.skills-block:nth-child(7) {
  grid-area: a7;
}

.skills-block:nth-child(8) {
  grid-area: a8;
}

.skills-block:nth-child(9) {
  grid-area: a9;
}

.skills-block:hover .skills-block-image {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.skills-block:hover .skills-block-overlay {
  opacity: .9;
}

.skills-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skills-button-link {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 1.33;
  display: block;
  width: 350px;
  height: 60px;
  padding: 19px;
  -webkit-transition: background-color .5s;
  -o-transition: background-color .5s;
  transition: background-color .5s;
  text-align: center;
  letter-spacing: 1.8px;
  border: 2px solid #2d3651;
  background-color: rgba(45, 54, 81, 0.8);
}

.skills-button-link:hover {
  border: 2px solid rgba(45, 54, 81, 0.8);
  background-color: #d66926;
}

.about {
  background-color: #e5e5e5;
}

.about-container {
  display: grid;
  max-width: 1340px;
  margin: auto;
}

.about-content {
  letter-spacing: .055em;
  color: #637588;
}

.about-content-title {
  font-family: "Roboto Slab", serif;
  line-height: 1.2em;
  letter-spacing: .1em;
  color: #2d3651;
}

.about-content p:first-of-type {
  position: relative;
}

.about-content p:first-of-type::after {
  position: absolute;
  top: 0;
  width: 2px;
  height: 200px;
  content: '';
  background-color: rgba(99, 117, 136, 0.1);
}

.about-image {
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-image img {
  max-width: 100%;
  max-height: 480px;
}

.form {
  min-height: 120px;
  padding: 30px 0;
  background-color: #2d3651;
}

.form-container {
  display: grid;
  max-width: 1340px;
  margin: auto;
  padding: 0 20px;
}

.form-item-btn {
  font-family: "Roboto", sans-serif;
  font-size: 1.125em;
  line-height: 1.33;
  display: block;
  width: 100%;
  height: 60px;
  padding: 0 30px 0 30px;
  -webkit-transition: background-color .5s, border-color .5s;
  -o-transition: background-color .5s, border-color .5s;
  transition: background-color .5s, border-color .5s;
  letter-spacing: 1.8px;
  border: 2px solid rgba(255, 255, 255, 0);
  border-bottom-color: rgba(255, 255, 255, 0.25);
  background-color: rgba(255, 255, 255, 0.05);
  color: #fff;
}

.form-item-btn::-webkit-input-placeholder {
  color: #637588;
  -webkit-transition: color .5s;
  transition: color .5s;
}

.form-item-btn:hover {
  border-color: rgba(255, 255, 255, 0.15);
  border-bottom-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.15);
}

.form-item-btn:hover::-webkit-input-placeholder {
  color: #7893b3;
}

.form-item-btn:focus {
  outline: none;
  border-color: rgba(255, 255, 255, 0.15);
  border-bottom-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.15);
}

.form-item-btn-accent {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 1.33;
  width: 100%;
  height: 60px;
  -webkit-transition: background-color .5s;
  -o-transition: background-color .5s;
  transition: background-color .5s;
  letter-spacing: 1.8px;
  color: #fff;
  border: 1px solid transparent;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.1);
}

.form-item-btn-accent:hover {
  border: 1px solid #fff;
  background-color: #d66926;
}

.post-container {
  max-width: 1340px;
  margin: auto;
  padding: 0 20px 0 20px;
}

.post-container h2 {
  font-family: "Roboto Slab", serif;
  line-height: 1.2em;
  letter-spacing: .1em;
  color: #2d3651;
}

.post-block-wrapper {
  display: grid;
  padding-bottom: 20px;
  gap: 20px;
}

.post-block {
  -webkit-transition: background-color .5s;
  -o-transition: background-color .5s;
  transition: background-color .5s;
  background-color: #eee;
}

.post-block:hover .post-block-image {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.post-block:hover {
  background-color: #d8d8d8;
}

.post-block:hover p {
  color: #2d3651;
}

.post-block:hover h3 {
  color: #2d3651;
}

.post-block-link {
  display: grid;
  overflow: hidden;
  height: 100%;
  grid-template-rows: 300px 1fr;
}

.post-block:nth-child(1) {
  grid-area: b1;
}

.post-block:nth-child(2) {
  grid-area: b2;
}

.post-block:nth-child(3) {
  grid-area: b3;
}

.post-block:nth-child(4) {
  grid-area: b4;
}

.post-block:nth-child(5) {
  grid-area: b5;
}

.post-block:nth-child(6) {
  grid-area: b6;
}

.post-block-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  background-color: #2d3651;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.post-block-image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.post-block-title {
  display: grid;
  padding: 20px;
  -webkit-transition: background-color .5s;
  -o-transition: background-color .5s;
  transition: background-color .5s;
  -ms-flex-line-pack: center;
      align-content: center;
}

.post-block-title h3 {
  font-family: "Roboto Slab", serif;
  font-size: 18px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: .05em;
  color: #637588;
}

.post-block-title-text {
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  letter-spacing: normal;
  color: #637588;
}

.post-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.post-button-link {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 1.33;
  display: block;
  width: 350px;
  height: 60px;
  padding: 19px;
  -webkit-transition: background-color .5s;
  -o-transition: background-color .5s;
  transition: background-color .5s;
  text-align: center;
  letter-spacing: 1.8px;
  border: 2px solid #2d3651;
  background-color: rgba(45, 54, 81, 0.8);
}

.post-button-link:hover {
  border: 2px solid rgba(45, 54, 81, 0.8);
  background-color: #d66926;
}

.footer {
  max-height: 250px;
  padding: 50px 20px 70px;
  background-color: #2d3651;
}

.footer-container {
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

.footer-icon {
  position: relative;
  display: grid;
  margin: 9px 0 30px 6px;
  padding-bottom: 20px;
  grid-template-columns: repeat(auto-fit, minmax(50px, -webkit-max-content));
  grid-template-columns: repeat(auto-fit, minmax(50px, max-content));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-icon:after {
  position: absolute;
  bottom: -7px;
  left: calc(50% - 75px / 2);
  width: 75px;
  height: 2px;
  content: '';
  background-color: rgba(99, 117, 136, 0.5);
}

.footer-title p:nth-of-type(1) {
  font-weight: 100;
  letter-spacing: .33em;
  color: #637588;
}

.footer-title p:nth-of-type(2) {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  line-height: 1.25;
  margin-top: -12px;
  letter-spacing: .8px;
  color: #fff;
}

.social a {
  float: left;
  -webkit-transition: color .5s;
  -o-transition: color .5s;
  transition: color .5s;
  border-radius: 5px;
}

.social a:hover {
  color: #d66926;
}

.fa-2x {
  font-size: 2.3em;
}

@media (min-width: 576px) {
  .skills {
    padding: 10px 10px 40px;
  }
}

@media (min-width: 768px) {
  .header-menu-link-btn {
    display: none;
  }
  .header-menu-link-list {
    display: grid;
    width: 100%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    grid-template-columns: repeat(auto-fit, minmax(50px, -webkit-max-content));
    grid-template-columns: repeat(auto-fit, minmax(50px, max-content));
  }
}

@media (min-width: 992px) {
  .header-content-title {
    font-size: 3.75em;
    margin: 0 0 53px;
  }
  .header-content-btn {
    font-size: 18px;
    min-width: 250px;
    height: 60px;
    margin-right: 20px;
    padding: 17px 72px 19px 70px;
    letter-spacing: 1.89px;
  }
  .skills-container {
    grid-template-areas: 'a1 a1 a2 a3' 'a4 a5 a5 a6' 'a7 a8 a9 a6';
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }
  .about-container {
    grid-template-columns: 1fr 271px;
    gap: 100px;
    padding: 97px 20px 86px 20px;
  }
  .about-content {
    font-size: 1.125rem;
  }
  .about-content-title {
    font-size: 2.5rem;
    margin: 0 0 56px 0;
  }
  .about-content p:first-of-type::after {
    right: -50px;
  }
  .form-container {
    grid-template-columns: 1fr 1fr 1fr;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 20px;
  }
  .post {
    padding: 100px 0 100px 0;
  }
  .post-container h2 {
    font-size: 2.5rem;
    margin: 0 0 54px 0;
  }
  .post-block-wrapper {
    grid-template-areas: 'b1 b1 b2 b3' 'b4 b5 b6 b6';
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 991.8px) {
  .header-content-title {
    margin: 0 0 43px;
  }
}

@media (max-width: 991.8px) and (min-width: 768px) {
  .header-content-title {
    font-size: 2.5em;
  }
  .header-content-btn {
    font-size: 16px;
    min-width: 200px;
    height: 50px;
    margin-right: 20px;
    padding: 13px 52px 16px 52px;
    letter-spacing: 1.6px;
  }
  .skills-container {
    grid-template-areas: 'a1 a1 a2' 'a3 a4 a4' 'a5 a5 a6' 'a7 a8 a6' 'a7 a9 a9';
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }
  .about-container {
    grid-template-columns: 1fr 271px;
    gap: 40px;
    padding: 80px 20px 80px 20px;
  }
  .about-content-title {
    font-size: 2rem;
    margin: 0 0 42px 0;
  }
  .about-content p:first-of-type::after {
    right: -20px;
  }
  .form-container {
    grid-template-columns: 1fr 1fr 1fr;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 20px;
  }
  .post {
    padding: 80px 0 80px 0;
  }
  .post-container h2 {
    font-size: 2rem;
    margin: 0 0 58px 0;
  }
  .post-block-wrapper {
    grid-template-areas: 'b1 b1 b2' 'b3 b4 b4' 'b5 b5 b6';
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 767.8px) {
  .header-menu {
    padding: 12px 0;
    background-color: rgba(68, 89, 110, 0.25);
  }
  .header-menu-link-btn {
    display: block;
  }
  .header-menu-link-list {
    position: absolute;
    top: 100%;
    right: 20px;
    display: none;
    padding-left: 0;
    text-align: right;
    background-color: rgba(68, 89, 110, 0.9);
  }
  .skills-block-link {
    font-size: 1.125rem;
  }
}

@media (max-width: 767.8px) and (min-width: 576px) {
  .header-content-title {
    font-size: 1.875em;
  }
  .header-content-btn {
    font-size: 16px;
    min-width: 170px;
    height: 40px;
    margin-right: 20px;
    padding: 8px 37px 10px 37px;
    letter-spacing: 1.6px;
  }
  .skills-container {
    grid-template-areas: 'a1 a2' 'a3 a2' 'a4 a4' 'a5 a6' 'a5 a7' 'a8 a9';
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
  .about-container {
    grid-template-columns: 1fr 236px;
    gap: 20px;
    padding: 60px 20px 60px 20px;
  }
  .about-content-title {
    font-size: 1.5rem;
    margin: 0 0 36px 0;
  }
  .about-content p:first-of-type::after {
    right: -10px;
  }
  .form-container {
    grid-template-columns: 1fr 1fr;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 20px;
  }
  .form-item:nth-of-type(1) {
    grid-column: 1 / span 2;
  }
  .post {
    padding: 60px 0 60px 0;
  }
  .post-container h2 {
    font-size: 1.5rem;
    margin: 0 0 36px 0;
  }
  .post-block-wrapper {
    grid-template-areas: 'b1 b2' 'b3 b4' 'b5 b6';
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 575.8px) {
  .header-content-title {
    font-size: 1.875em;
  }
  .header-content-buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-content-btn {
    font-size: 16px;
    min-width: 170px;
    height: 40px;
    margin-bottom: 20px;
    padding: 8px 37px 10px 37px;
    letter-spacing: 1.6px;
  }
  .skills {
    padding: 20px;
  }
  .skills-container {
    grid-template-areas: 'a1' 'a2' 'a3' 'a4' 'a5' 'a6' 'a7' 'a8' 'a9';
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
  }
  .skills-button {
    margin: 0;
  }
  .skills-button-link {
    width: 100%;
  }
  .about-container {
    grid-template-columns: 1fr;
    padding: 60px 20px 60px 20px;
  }
  .about-content-title {
    font-size: 1.5rem;
    margin: 0 0 36px 0;
    text-align: center;
  }
  .about-content p:first-of-type::after {
    display: none;
  }
  .form-container {
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
  }
  .post {
    padding: 60px 0 60px 0;
  }
  .post-container h2 {
    font-size: 1.5rem;
    margin: 0 0 36px 0;
    text-align: center;
  }
  .post-block-wrapper {
    grid-template-areas: 'b1' 'b2' 'b3' 'b4' 'b5' 'b6';
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr;
  }
  .post-button-link {
    width: 100%;
  }
}
